.u-folderContact {
	.modulesArea {
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px solid #eee;
	}
	h2.Module__header {
		font: bold 1.1em $serif;
	}
	h3 {
		margin: 2em 0 1em 0;
	}
}