.map {
    background-image: url(/assets/images/map-icon.png);
    background-repeat: no-repeat;
    padding: 0.2em 1em 0.5em 3.6em;
    background-color: #eee;
    border: 0.8em solid #eee;
    background-size: 1.6em;
	
	p {
		font-size: 1em;
		margin: 0;
		
		a {
			&:link, &:hover {
				text-shadow: none;
				background: none;
			}
		}
	}
}