/*	Typography
	---------- */
/*	Basic type/colors
	----------------- */
/*	Nav
	--- */
/*	Search
	------ */
/*	Footer
	------ */
/*	Layout
	------ */
/*	For a Stories-like layout where the content is in one centered
										column, width-standard determines the max width of a 
										standard content block. (Doesn't apply to a typical 
										nav-content-sidebar 3col layout.) 
									*/
/*	Breakpoints
	----------- */
/* 400px divided by 16px */
/* 600px divided by 16px */
/* 800px divided by 16px */
/* 1000px divided by 16px */
/* 1000px divided by 16px */
/*	FUNCTIONS
	========= */
/*	MIXINS
	====== */
/*	Media queries
	============= */
/*	Visual niceties
	=============== */
/*	BlockShadow
	-----------
	Sets a long shadow under the specified text
*/
.centerMe {
  margin-left: auto;
  margin-right: auto; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.hide--visually {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0; }

.hide--completely {
  display: none; }

.margin-none {
  margin: 0; }

.padding-none {
  padding: 0; }

.no-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

@media screen and (min-width: 50em) {
  .position-absolute {
    position: absolute; } }

@media screen and (min-width: 45em) {
  .position-absolute {
    position: absolute; } }

@media screen and (min-width: 50em) {
  .position-absolute {
    position: absolute; } }

@media screen and (min-width: 62.5em) {
  .position-absolute {
    position: absolute; } }

.textAlign-center {
  text-align: center; }

.width-full {
  width: 100%; }

.width-half {
  width: 50%; }

.width-quarter {
  width: 25%; }

.width-third {
  width: 33%; }

/*	.width-standard is for a column of regular content	*/
.width-standard {
  max-width: 32em; }

/*	This contains all the most basic type styling a site will need.
	
	font: font-style font-variant font-weight font-size/line-height font-family;

$BASICSTYLE__h1: bold 1.4em $serif;
$BASICSTYLE__h2: bold 1.2em $serif;
$BASICSTYLE__h3: bold 1.1em $serif;
$BASICSTYLE__h4: bold 1em $serif;
$BASICSTYLE__h5: bold 0.9em $serif;
$BASICSTYLE__h6: bold 0.8em $serif;
$BASICSTYLE__p: 100 1.12em/1.3 $serif;
$BASICSTYLE__li: 100 1.12em/1.3 $serif;
$BASICSTYLE__blockquote: $serif 0.9em;

$BASICSTYLE__defaulttext-color: #333;
$BASICSTYLE__link-color: #00f;
$BASICSTYLE__link-color--visited: #aaa;
$BASICSTYLE__link-color--hover: #f00;
$BASICSTYLE__link-color--active: #ff0;


$BASICSTYLE__selection-color: #ff0;

*/
a:link {
  color: #ce1e46; }

a:visited {
  color: #AB6776; }

a:hover, a:visited:hover, a:focus {
  color: #000; }

a:active, a:visited:active {
  color: #f00; }

::-moz-selection {
  background: #E3C3CF; }

::selection {
  background: #E3C3CF; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1 {
  font: bold 1.4em/0.95 "chaparral-pro", Georgia, Times, serif; }

h2 {
  font: normal 1.5em/1.1 "chaparral-pro", Georgia, Times, serif; }

h3 {
  font: bold 1.2em "chaparral-pro", Georgia, Times, serif; }

h4 {
  font: bold 0.86em "chaparral-pro", Georgia, Times, serif; }

h5 {
  font: bold 0.9em "chaparral-pro", Georgia, Times, serif; }

h6 {
  font: bold 0.8em europa, Helvetica, Arial, sans-serif; }

p, dd, dt {
  font: 100 1.2em/1.3 "chaparral-pro", Georgia, Times, serif; }

li {
  font: 100 1.2em/1.3 "chaparral-pro", Georgia, Times, serif; }

p {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }
  h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    background-image: none;
    text-shadow: none;
    color: #444; }

.ac-hiddenVisually {
  position: absolute;
  visibility: hidden; }

/*	Nav
	===
	Sets up basic styling for navigation. If not invoked
	via config, no styling appears. No layout styling should appear here,
	since the layout for nav would appear in the site's general layout.
*/
.row, .col {
  overflow: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }
  .row h2 {
    flex: 0 0 100%; }

@media screen and (min-width: 45em) {
  .col.small-50 {
    width: 50%; }
  .col.small-16 {
    width: 16.666%; }
  .col.small-25 {
    width: 25%; } }

@media screen and (min-width: 50em) {
  .col.med-50 {
    width: 50%; }
  .col.med-16 {
    width: 16.666%; }
  .col.med-25 {
    width: 25%; }
  .col--twocols-med {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    -webkit-column-rule: 1px solid #eee;
    -moz-column-rule: 1px solid #eee;
    column-rule: 1px solid #eee; } }

.col {
  padding: 2em; }
  @media screen and (min-width: 50em) {
    .col {
      padding: 4em; } }

.col--single {
  max-width: 46em;
  margin-left: auto;
  margin-right: auto; }

.u-pageHome .row .rowheader {
  margin-bottom: -2em;
  margin-top: 3em; }

.imagefull {
  background-size: cover;
  background-position: center center; }
  .imagefull img {
    position: absolute;
    visibility: hidden; }

.hasborder {
  position: relative; }
  .hasborder:before {
    position: absolute;
    content: "";
    top: 0.4em;
    left: 0.4em;
    bottom: 0.4em;
    right: 0.4em;
    border: 1px solid #eee; }
    @media screen and (min-width: 50em) {
      .hasborder:before {
        top: 1em;
        left: 1em;
        bottom: 1em;
        right: 1em; } }
  .hasborder * {
    position: relative;
    z-index: 9; }

summary {
  color: #ce1e46;
  font-weight: bold; }
  summary:hover {
    color: #000;
    cursor: pointer; }
  details[open] summary {
    margin-bottom: 1em; }

details[open] {
  margin-bottom: 1em; }

@media screen and (min-width: 45em) {
  .u-Masthead__vassar--link {
    font-family: "goudy-old-style", Georgia, Times, serif;
    text-transform: uppercase; } }

.u-pageInner {
  /*	
	.u-Masthead__vassar {
		@media screen and (min-width: $small) {
			order: 1;
		    border-right: 1px solid #eee;
		    margin-right: 1rem;
		    margin-left: 0;

		
			.u-Masthead__vassar--link {
			    font-size: 3.85rem;
			    color: #882345;
			    display: inline-block;
			    line-height: 1;
			    margin-top: -0.2rem;
			    margin-right: 1rem;
			}
		}
	}
*/ }
  .u-pageInner .u-lHeader {
    padding-bottom: 1rem; }
    @media screen and (min-width: 50em) {
      .u-pageInner .u-lHeader {
        padding-top: 2rem !important;
        margin-bottom: 2rem !important; } }
  .u-pageInner .u-Masthead {
    display: flex;
    display: -ms-flexbox; }
  .u-pageInner .u-Masthead__vassar {
    display: none; }
  .u-pageInner .u-Masthead__siteName {
    font-size: 2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 45em) {
      .u-pageInner .u-Masthead__siteName {
        order: 2;
        text-align: left;
        width: auto; } }
    @media screen and (min-width: 50em) {
      .u-pageInner .u-Masthead__siteName {
        width: auto; } }
    .u-pageInner .u-Masthead__siteName .u-Masthead__siteName--link {
      font-family: europa, Helvetica, Arial, sans-serif; }
    .u-pageInner .u-Masthead__siteName .office-name {
      font-family: europa, Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 0.9rem;
      display: block;
      margin-bottom: 0.1em;
      font-family: europa, Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      padding-right: 1em;
      color: #ABA49A; }
    .u-pageInner .u-Masthead__siteName .president-name {
      color: #882345;
      font-family: "goudy-old-style", Georgia, Times, serif;
      text-transform: uppercase;
      letter-spacing: 0.05em; }

/*	Internet Explorer is the absolute devil. Even when they say it's better, it's never better. */
@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop, .u-Masthead, .u-Masthead__vassar, .u-Masthead__vassar--link {
    display: block !important;
    line-height: normal !important; }
  *::-ms-backdrop,
  .u-Masthead__siteName,
  .u-Masthead__vassar {
    order: initial; }
  *::-ms-backdrop, .u-Masthead__vassar--link {
    margin-left: 0 !important; }
  *::-ms-backdrop, .u-lHeader {
    overflow: hidden !important;
    clear: both !important;
    height: 11em !important; }
  *::-ms-backdrop, body {
    overflow: hidden !important; } }

/*
	Add the following to your site's config file
	--------------------------------------------

	$open-search__border-color: #eee

*/
.u-VCard__adr,
.u-VCard__info,
.u-List--site {
  margin: 0 0 0.4em 0; }

.u-VCard__item.u-VCard__org {
  display: block;
  font-family: "chaparral-pro", Georgia, Times, serif;
  margin-bottom: 1em; }

.SocialAccount__iconList {
  padding: 0;
  margin-bottom: 3em;
  text-align: center; }
  .SocialAccount__iconList li {
    list-style: none;
    font-size: 0.9em; }

.u-lFooter * {
  font-size: 1rem !important; }

.u-lFooter .u-VCard__label {
  display: none; }

.u-lFooter .u-VCard__org {
  font-weight: bold; }

.u-NavSite__itemContainer {
  /*	Generic list-items have a specific size applied to them. On
		nav, the links also have a specific size. The size applied to
		the list item compounds the size of the nav item. Setting the list-item
		font-size to 1em basically undoes the font-size.
	*/
  font-size: 1em; }

.u-NavSite__item {
  padding: 0.6em 0;
  border-bottom: 1px solid #eee; }

.u-NavSite .u-NavSite__item svg {
  height: 1.4em; }

/*	Hide Home */
/*
.u-NavSite__level--1 > .u-NavSite__itemContainer:first-child {
	display: none;
}
*/
/*
	Add the following to your site's config file
	--------------------------------------------

	$open-search__border-color: #eee

*/
@media screen and (min-width: 45em) {
  .js .u-Search {
    background: transparent;
    width: 2em; }
  .js .u-Search__form {
    visibility: hidden;
    opacity: 0; }
  .js .u-Search__button {
    display: block;
    margin: 0;
    padding: 0;
    width: 1.4em;
    right: 0;
    left: auto;
    text-align: right;
    height: 1.4em;
    top: 0.8em; }
  .js:after {
    content: "";
    position: absolute;
    /*		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0; */
    height: 0em;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: all 2s; }
  .js .u-lHeader,
  .js .u-lMain,
  .js .u-NavSite,
  .js .u-lFooter {
    filter: blur(0) grayscale(0%);
    -webkit-filter: blur(0) grayscale(0%);
    transition: filter 0.5s; }
  .js.searchOpen {
    overflow: hidden;
    border-color: #fff; }
    .js.searchOpen .u-lHeader,
    .js.searchOpen .u-lMain,
    .js.searchOpen .u-NavSite {
      filter: blur(16px) grayscale(100%);
      -webkit-filter: blur(16px) grayscale(100%);
      opacity: 0.3;
      overflow: visible; }
    .js.searchOpen:after {
      opacity: 1; }
    .js.searchOpen .u-Search__form {
      visibility: visible;
      opacity: 1; }
    .js.searchOpen .u-Search__button {
      display: none; }
    .js.searchOpen .u-Search__cancel {
      padding: 0;
      position: absolute;
      display: block;
      top: -3em;
      width: 1em;
      height: 1em; }
      .js.searchOpen .u-Search__cancel svg {
        position: absolute;
        width: 100%;
        height: 100%; }
        .js.searchOpen .u-Search__cancel svg path {
          fill: #444; }
      .js.searchOpen .u-Search__cancel:hover path {
        fill: #888; }
    .js.searchOpen .u-Search__submit {
      background: transparent;
      width: 4em;
      height: 6rem; }
      .js.searchOpen .u-Search__submit svg {
        text-align: right;
        width: 2em;
        padding: 0;
        margin-right: 1em;
        fill: #444; }
    .js.searchOpen .u-Search {
      left: 4em;
      right: 4em;
      top: 30vh;
      width: auto;
      border: 1px solid #333;
      z-index: 1;
      background: transparent;
      height: 6em; }
      .js.searchOpen .u-Search .u-Search__field {
        height: auto; } }

.u-ArticleListItem__summary {
  margin-bottom: 0; }

.u-ArticleListItem__label.u-ArticleListItem__label--externalLink {
  float: right;
  display: none; }

.u-ArticleListItem {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #c0004e; }

.u-ArticleListItem__label--dateline__posted,
.u-ArticleListItem__label--dateline__postedDate {
  font: normal 0.75em europa, Helvetica, Arial, sans-serif;
  color: #aaa; }

.u-ArticleListItem__title {
  margin: 0 0 0.15em 0; }

@media screen and (min-width: 50em) {
  .modulesArea__row--twocols {
    display: flex; } }

.modulesArea__row--twocols .Module--halfWidth:first-child {
  padding-right: 1em; }

@media screen and (min-width: 50em) {
  .modulesArea__row--twocols .Module--halfWidth {
    width: 50%; } }

.Module__list {
  margin: 0;
  padding: 0; }
  .Module__list li {
    list-style: none;
    margin: 0; }
    .Module__list li a {
      border-top: 1px solid #eee;
      display: block;
      padding: 0.4em 0; }
    .Module__list li:first-child a {
      border: none; }

.u-ExtendedFooter {
  max-width: 45em;
  margin: 0 auto 4em auto;
  border-bottom: 3px double #F0EEEB;
  padding-bottom: 4em;
  padding-top: 2em;
  padding-bottom: 3em;
  text-align: center;
  /*
	.SocialAccount__iconList {
		@include cleanlist(none, 0);
	} */ }
  @media screen and (min-width: 50em) {
    .u-ExtendedFooter {
      display: flex;
      text-align: left; }
      .u-ExtendedFooter .footerExtra {
        width: 10%; }
      .u-ExtendedFooter .u-ExtendedFooter__listGroup {
        display: flex;
        width: 90%; }
      .u-ExtendedFooter .SocialAccount__iconList {
        margin-top: 0.3em; } }
  .u-ExtendedFooter .u-footMasthead {
    display: none; }
  @media screen and (min-width: 50em) {
    .u-ExtendedFooter .u-ExtendedFooter__listContainer {
      width: 33%; } }
  .u-ExtendedFooter .u-ExtendedFooter__listHeader {
    border-top: 1px solid #F0EEEB;
    margin: 1em 0 0.3em 0;
    padding: 1em 0 0 0; }
    @media screen and (min-width: 50em) {
      .u-ExtendedFooter .u-ExtendedFooter__listHeader {
        border-top: none;
        margin: 0 0 1em 0;
        padding: 0; } }
  .u-ExtendedFooter .u-ExtendedFooter__list {
    margin: 0;
    padding: 0; }
    .u-ExtendedFooter .u-ExtendedFooter__list li {
      list-style: none;
      margin: 0; }
      .u-ExtendedFooter .u-ExtendedFooter__list li a {
        border-top: 1px solid #fff;
        display: block;
        padding: 0.2em 0; }
      .u-ExtendedFooter .u-ExtendedFooter__list li:first-child a {
        border: none; }
  .u-ExtendedFooter a:visited {
    color: #ce1e46; }
  .u-ExtendedFooter .SocialAccount__iconContainer {
    display: inline-block;
    width: 2em;
    height: 2em; }
    @media screen and (min-width: 50em) {
      .u-ExtendedFooter .SocialAccount__iconContainer {
        display: block; } }

.faq__index {
  margin: 0;
  padding: 0;
  margin-bottom: 1.2em; }
  .faq__index li {
    list-style: none;
    margin: 0; }
    .faq__index li a {
      border-top: 1px solid #eee;
      display: block;
      padding: 0.2em 0; }
    .faq__index li:first-child a {
      border: none; }

.faq__header {
  font-size: 1.5em; }

.faq__indexHeader {
  font-family: europa, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #444;
  margin-bottom: 0.4em; }
  .faq__indexHeader a:link, .faq__indexHeader a:hover, .faq__indexHeader a:visited, .faq__indexHeader a:visited:hover {
    color: #444; }

.faq__item {
  margin-bottom: 2em;
  position: relative; }

.faq__answer p:last-child {
  margin-bottom: 0; }

.faq__topLink {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
  display: block; }
  @media screen and (min-width: 50em) {
    .faq__topLink {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0; } }

.photosgrid {
  display: flex;
  flex-wrap: wrap; }
  .photosgrid .photo__item {
    width: 50%;
    padding: 0 1em 1em 0; }
    .photosgrid .photo__item .u-Figure {
      margin: 0; }

.Module__table .directoryContactInfo--person {
  width: 40%;
  padding-left: 0; }

.Module__table .directoryContactInfo--numbers {
  width: 30%;
  text-align: right;
  padding-right: 0; }

.Module__table tbody tr:nth-child(odd) {
  background: none; }

.Module__table tbody td, .Module__table tbody th {
  border: none; }

.Module__table tr {
  border-top: 1px solid #eee; }
  .Module__table tr:first-of-type {
    display: none; }

.Module__table td {
  font-family: "chaparral-pro", Georgia, Times, serif; }

.Module__table .u-BioList__name {
  font-size: 1em;
  font-family: "chaparral-pro", Georgia, Times, serif; }

.Module__table .directoryContactInfo--title {
  font-style: italic;
  font-weight: 100; }

.Module__table .directoryContactInfo__data {
  font-weight: 100;
  font-size: 0.9em;
  color: #000; }

.Module__list {
  font-family: "chaparral-pro", Georgia, Times, serif; }
  .Module__list dd {
    margin: 0; }
  .Module__list .Module__listItem {
    margin: 0;
    padding: 0.12em 0;
    border-top: none; }

h3.Module__header {
  font-weight: bold !important;
  font-size: 0.8em;
  text-transform: uppercase; }
  h3.Module__header:first-child {
    margin-top: 0; }

.Module__title {
  font-weight: bold;
  font-size: 1.1em; }

.Module__desc {
  display: block; }

.Module__building,
.extended-address,
.Module__times {
  font-weight: normal; }

.directorylisting {
  padding: 0; }

.directorylisting__itemContainer {
  border-bottom: 1px solid #eee;
  overflow: hidden;
  width: 100%;
  list-style: none;
  margin-bottom: 0.2em !important;
  padding-bottom: 0.2em !important; }
  .directorylisting__itemContainer .directorylisting__item {
    line-height: 1.2;
    margin: 0;
    font-size: 1em;
    font-family: "chaparral-pro", Georgia, Times, serif; }
  .directorylisting__itemContainer a {
    border: none; }
  .directorylisting__itemContainer .directoryContactInfo__data {
    font-weight: 100;
    font-size: 0.9em;
    text-align: right; }
  .directorylisting__itemContainer .directorylisting__item {
    border: none; }
  .directorylisting__itemContainer .directoryContactInfo--title {
    font-style: italic; }
  .directorylisting__itemContainer .u-BioList__name {
    font: inherit;
    font-weight: bold; }
  @media screen and (min-width: 50em) {
    .directorylisting__itemContainer .directorylisting__item {
      float: left; }
    .directorylisting__itemContainer .directoryContactInfo--person {
      padding-right: 1em;
      width: 30%; }
    .directorylisting__itemContainer .directoryContactInfo--title {
      width: 40%; }
    .directorylisting__itemContainer .directoryContactInfo--numbers {
      width: 30%; }
    .directorylisting__itemContainer .directoryContactInfo--numbers {
      text-align: right; } }

.u-Search__button, .u-Search__cancel, .u-Search__submit {
  width: 2rem;
  height: 2rem; }

.current {
  position: fixed;
  top: 0; }

.faq__index {
  background: #fff;
  border-top: 1px solid #F0EEEB;
  border-bottom: 1px solid #F0EEEB; }
  @media screen and (min-width: 50em) {
    .faq__index {
      position: sticky;
      top: 0;
      z-index: 10; } }
  .faq__index li {
    text-align: center;
    border: none;
    /*	    font: bold .9em/1 europa, Helvetica;
	    text-transform: uppercase; */
    margin: 0.45em 0;
    padding: 0; }
    .faq__index li a {
      border: none !important;
      background: none;
      text-shadow: none !important;
      text-decoration: none !important;
      font-weight: bold;
      font-family: europa, Helvetica, Arial, sans-serif; }
    .faq__index li, .faq__index li a:hover {
      background: none;
      color: #aaa; }

.faq__item {
  padding-top: 3em;
  margin-bottom: 0; }

@media screen and (min-width: 45em) {
  .faq__index {
    text-align: center; }
    .faq__index li {
      margin: 0 !important;
      display: inline-block;
      padding: 0.45em; }
      .faq__index li a {
        font-size: 0.9em; } }

.u-lMain .faq__index:nth-of-type(2) {
  display: none; }

.u-pageInner .u-lHeader {
  padding: 2em 0 !important;
  border-bottom: 1px solid #c0004e;
  margin: 0 2em 4em 2em; }
  @media screen and (min-width: 50em) {
    .u-pageInner .u-lHeader {
      margin: 0 2em 2em 2em; } }

.u-pageInner .subtitle {
  display: block;
  font-size: 1rem;
  padding-top: 0.2rem; }

@media screen and (min-width: 45em) {
  .u-NavSite__main {
    position: -webkit-sticky;
    position: sticky;
    top: 20px; } }

.map {
  background-image: url(/assets/images/map-icon.png);
  background-repeat: no-repeat;
  padding: 0.2em 1em 0.5em 3.6em;
  background-color: #eee;
  border: 0.8em solid #eee;
  background-size: 1.6em; }
  .map p {
    font-size: 1em;
    margin: 0; }
    .map p a:link, .map p a:hover {
      text-shadow: none;
      background: none; }

.u-pageHome {
  padding: 0; }
  .u-pageHome body {
    max-width: none;
    margin-top: 0; }
  .u-pageHome img {
    width: 100%; }
  .u-pageHome .u-lAside {
    display: none; }
  .u-pageHome .u-lContent {
    margin: 0;
    padding: 0;
    width: 100%; }
  .u-pageHome .u-lMain {
    padding: 3rem 0 0 0;
    width: 100%; }
    @media screen and (min-width: 45em) {
      .u-pageHome .u-lMain {
        padding: 0; } }
  @media screen and (min-width: 50em) {
    .u-pageHome .u-lHeader {
      position: absolute;
      z-index: 12; }
      .u-pageHome .u-lHeader .u-Masthead__vassar {
        top: 2rem; } }
  .u-pageHome .u-lFooter {
    margin: 0;
    padding: 3em; }
  .u-pageHome .row.main .col {
    padding: 0; }
  @media screen and (min-width: 45em) {
    .u-pageHome .u-Search {
      top: 1.2em;
      right: 2em;
      left: auto;
      z-index: 14; }
    .u-pageHome .u-NavSite {
      position: absolute;
      padding: 2em;
      right: 3em;
      text-align: right;
      top: 0;
      width: initial;
      z-index: 12; }
      .u-pageHome .u-NavSite .u-NavSite__itemContainer {
        display: inline-block;
        margin-left: 1em; }
      .u-pageHome .u-NavSite .u-NavSite__item {
        color: #fff;
        font: normal 1.1em/1.1 europa, Helvetica;
        border: none;
        text-align: right; } }

.u-pageHome {
  background: #000;
  border: none; }
  .u-pageHome .row {
    background: #fff; }
  .u-pageHome .maintitle {
    display: block;
    padding: 0.3em 0;
    display: block;
    line-height: 1;
    color: #fff; }
  .u-pageHome .title {
    margin: 0;
    width: 100%; }
    @media screen and (min-width: 50em) {
      .u-pageHome .title {
        font-size: 4em; } }
    .u-pageHome .title:after {
      content: "";
      position: absolute;
      background-image: url("../img/acorn-white.png");
      width: 2rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: -1rem;
      margin-top: 2rem; }
  .u-pageHome .supertitle,
  .u-pageHome .subtitle {
    font-size: 0.3em;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #aaa;
    width: 69%;
    margin: 0 auto; }
    @media screen and (min-width: 45em) {
      .u-pageHome .supertitle,
      .u-pageHome .subtitle {
        width: 100%; } }
  .u-pageHome .titleContainer {
    text-align: center;
    padding: 3em 1em 2em 1em; }
    @media screen and (min-width: 50em) {
      .u-pageHome .titleContainer {
        padding: 8em 1em 4em 1em; } }
    @media screen and (min-width: 62.5em) {
      .u-pageHome .titleContainer {
        padding: 0; } }
    .u-pageHome .titleContainer .date-info {
      color: #aaa;
      position: relative;
      z-index: 9; }
    .u-pageHome .titleContainer a, .u-pageHome .titleContainer a:visited {
      color: #fff;
      background-image: none;
      text-shadow: none; }
    .u-pageHome .titleContainer a:visited:hover, .u-pageHome .titleContainer a:hover {
      color: #ce1e46;
      background-image: none;
      text-shadow: none; }
  .u-pageHome .u-Masthead__siteName {
    display: none; }
  .u-pageHome .u-lAside {
    display: none; }
  .u-pageHome .u-lFooter {
    background: #F0EEEB; }
  .u-pageHome .speakers .speaker__desc h3, .u-pageHome .speakers .speaker__desc p {
    color: #fff; }
  .u-pageHome .speakers .speaker__desc p {
    opacity: 0.6; }
  @media screen and (min-width: 45em) {
    .u-pageHome .bio h2 {
      color: #882345; }
    .u-pageHome .u-Masthead__vassar--link b {
      color: #c2004c;
      color: #fff;
      text-shadow: 0 2px 40px #000, 0 2px 40px #000, 0 2px 80px #000; }
    .u-pageHome .u-Masthead__vassar {
      top: 1em;
      margin-left: 2em;
      letter-spacing: 0.1em;
      text-align: left;
      font-size: 2em;
      padding: 0 0 1em 0;
      width: 10em; }
    .u-pageHome h1 {
      color: #fff; }
    .u-pageHome h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 1em;
      margin: 0 0 2em 0;
      letter-spacing: 0.1em; }
    .u-pageHome h3 a, .u-pageHome h3 a:visited {
      color: #ce1e46; }
    .u-pageHome h3 a:hover, .u-pageHome h3 a:visited:hover {
      color: #000; }
    .u-pageHome .rowheader {
      color: #882345; }
    .u-pageHome .theme--black {
      background: #882345;
      color: #dcbdc8; }
    .u-pageHome .hasborder:before {
      border-color: #c2004c; } }
  @media screen and (min-width: 62.5em) {
    .u-pageHome .u-Masthead__vassar {
      width: 100%; } }
  .u-pageHome .row--panelists a, .u-pageHome .row--panelists a:visited,
  .u-pageHome .row--speakers a,
  .u-pageHome .row--speakers a:visited {
    color: #935966; }
  .u-pageHome .row--panelists a:hover, .u-pageHome .row--panelists a:visited:hover,
  .u-pageHome .row--speakers a:hover,
  .u-pageHome .row--speakers a:visited:hover {
    color: #ce1e46;
    color: #f00; }
  .u-pageHome h2 {
    font-weight: bold; }

.u-pageHome .u-NavSite__item {
  padding: 0 0 0.8em 0; }

.u-pageHome .u-NavSite .u-NavSite__item--isCurrent {
  display: none; }

.intro {
  font-family: "goudy-old-style", Georgia, Times, serif;
  font-size: 1.4em;
  line-height: 1.2; }

.note {
  padding: 1em;
  background: #eee;
  text-align: center;
  margin-bottom: 2em; }

.imageHeader {
  position: relative;
  background: #000; }

@media all and (min-width: 62.5em) {
  .imageHeader {
    overflow: hidden; }
    .imageHeader:before {
      display: none; }
    .imageHeader.overlay {
      background: #888;
      /* svg {
				position: absolute;
			} */ }
      .imageHeader.overlay .imageHeader__image {
        background: #000;
        /* filter: blur(8px) grayscale(100%);
				-webkit-filter: blur(8px) grayscale(100%); */
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        /*enforce 3d accelleration*/
        webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      .imageHeader.overlay .titleContainer {
        opacity: 1; }
    .imageHeader h2 {
      color: #fff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
    .imageHeader img {
      position: fixed;
      z-index: 10; }
  .imageHeader__masthead {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .imageHeader__image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }
    .imageHeader__image img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10; }
  .imageHeader__image--container {
    top: 0;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    clip: rect(0 auto auto 0);
    clip: rect(0, auto, auto, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
    @supports (not (clip: rect(0, auto, auto, 0))) and (not (clip: rect(0 auto auto 0))) {
      .imageHeader__image--container {
        clip: auto;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); } }
  .titleContainer {
    opacity: 0;
    display: flex;
    align-items: center;
    height: 66vw;
    height: 61vw;
    max-height: 102vh;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 11;
    transition: opacity 1s ease; }
  b.date-info {
    font-size: 0.3em;
    font-family: "chaparral-pro", Georgia, Times, serif;
    font-style: italic; } }

.u-lMain .row--panelists a {
  text-shadow: 0.03em 0 #F0EEEB, -0.03em 0 #F0EEEB, 0 0.03em #F0EEEB, 0 -0.03em #F0EEEB, 0.06em 0 #F0EEEB, -0.06em 0 #F0EEEB, 0.09em 0 #F0EEEB, -0.09em 0 #F0EEEB, 0.12em 0 #F0EEEB, -0.12em 0 #F0EEEB, 0.15em 0 #F0EEEB, -0.15em 0 #F0EEEB;
  text-decoration: none;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#ce1e46, #ce1e46);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 84%, 100% 84%, 0% 84%; }
  .u-lMain .row--panelists a else {
    background-position: 0% tight, 100% tight, 0% tight; }
  .u-lMain .row--panelists a:before, .u-lMain .row--panelists a:after, .u-lMain .row--panelists a *, .u-lMain .row--panelists a *:before, .u-lMain .row--panelists a *:after {
    text-shadow: none; }
  .u-lMain .row--panelists a::-moz-selection {
    background-image: none;
    text-shadow: none;
    background: #E3C3CF; }
  .u-lMain .row--panelists a::selection {
    background-image: none;
    text-shadow: none;
    background: #E3C3CF; }

.u-lMain .row--panelists a:hover {
  background-image: none;
  text-shadow: none; }

.u-lMain .row--speakers a {
  text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
  text-decoration: none;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#ce1e46, #ce1e46);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 84%, 100% 84%, 0% 84%; }
  .u-lMain .row--speakers a else {
    background-position: 0% tight, 100% tight, 0% tight; }
  .u-lMain .row--speakers a:before, .u-lMain .row--speakers a:after, .u-lMain .row--speakers a *, .u-lMain .row--speakers a *:before, .u-lMain .row--speakers a *:after {
    text-shadow: none; }
  .u-lMain .row--speakers a::-moz-selection {
    background-image: none;
    text-shadow: none;
    background: #E3C3CF; }
  .u-lMain .row--speakers a::selection {
    background-image: none;
    text-shadow: none;
    background: #E3C3CF; }

.u-lMain .row--speakers a:hover {
  background-image: none;
  text-shadow: none; }

.row--speakers,
.row--panelists {
  overflow: hidden; }
  .row--speakers .row__title .row__subtitle,
  .row--panelists .row__title .row__subtitle {
    display: block;
    text-transform: none;
    letter-spacing: 0;
    font-style: italic;
    margin-top: 0.4em;
    font-size: 0.9em; }
    .row--speakers .row__title .row__subtitle a,
    .row--panelists .row__title .row__subtitle a {
      background-image: none;
      text-shadow: none; }
  .row--speakers .col,
  .row--panelists .col {
    margin: 0 auto;
    max-width: 60em; }
  .row--speakers .speaker__name,
  .row--panelists .speaker__name {
    letter-spacing: normal;
    text-transform: none;
    font-weight: 100;
    font-size: 1.2em;
    margin: 0; }
  .row--speakers .speaker__title,
  .row--panelists .speaker__title {
    font-size: 1em;
    line-height: 1.2;
    font-style: italic; }

@media screen and (min-width: 50em) {
  .row.row--speakers .speakerslist {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 2em;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 2em;
    /* Firefox */
    column-gap: 2em; }
    .row.row--speakers .speakerslist .item {
      display: inline-block;
      width: 100%; } }

.row--panelists {
  background: #F0EEEB !important; }
  @media screen and (min-width: 50em) {
    .row--panelists .panel {
      width: 50%;
      float: left; }
      .row--panelists .panel.panel--1 {
        padding-right: 1em; }
      .row--panelists .panel.panel--2 {
        padding-left: 1em; } }

.has-iframe .titleContainer,
.has-iframe .imageHeader__image--container {
  display: none; }

.has-iframe .u-Video {
  margin-top: 5em; }

.has-iframe.has-iframe {
  background: #000;
  margin: 0 auto;
  text-align: center;
  max-width: 50em; }

.pageindex {
  text-align: center;
  margin: 0 0 2em 0;
  border-bottom: 1px solid #ddd;
  padding: 0 0 1em 0; }
  .pageindex .pageindex__item {
    display: inline; }
    .pageindex .pageindex__item:after {
      content: "\00B7";
      margin: 0 0.5em; }
    .pageindex .pageindex__item:last-child:after {
      content: none; }

/*
	- the h3 in .lodging needs to be an h4 with a class
	- all paragraphs in .lodging__group need class of group__item
	
*/
.hotels h3 {
  font-weight: normal;
  font-size: 1.4em; }

.lodging .lodging__item {
  border-left: 1px solid #ccc;
  padding-left: 1em; }
  .lodging .lodging__item p {
    font-size: 1em; }
  .lodging .lodging__item .lodging__phone a {
    background-image: none;
    color: #444; }

.lodging h3 {
  margin-bottom: 0; }

.lodging p {
  margin: 0; }

.lodging .lodging__title {
  text-transform: none;
  letter-spacing: 0;
  font-size: 1em;
  margin-bottom: 0; }

.lodging .lodging__group.lodging__group--codes {
  padding: 0.4em 0.6em;
  background: #f6f6f6;
  font-size: 0.9em;
  margin-top: 0.4em;
  max-width: 20em; }
  .lodging .lodging__group.lodging__group--codes .group__label {
    font-family: europa, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-size: 0.8em;
    margin-right: 0.2em; }

.lodging .lodging__group--links {
  overflow: hidden; }
  .lodging .lodging__group--links p {
    float: left; }
    .lodging .lodging__group--links p:after {
      content: "\00B7";
      margin: 0 0.2em; }
    .lodging .lodging__group--links p:last-child:after {
      display: none; }

.agenda__item {
  border-top: 1px solid #eee;
  overflow: hidden;
  padding: 1em 0; }
  .agenda__item p {
    margin: 0; }
  .agenda__item .item__title {
    margin-top: 0.3em;
    font-size: 0.9em;
    line-height: 1.1; }
    @media screen and (min-width: 50em) {
      .agenda__item .item__title {
        float: left;
        padding-right: 2em;
        width: 30%; } }
    .agenda__item .item__title .item__time {
      display: block;
      font-family: europa, Helvetica, Arial, sans-serif;
      font-size: 0.8em;
      margin-top: 0.2em;
      color: #888; }
  @media screen and (min-width: 50em) {
    .agenda__item .item__content {
      float: right;
      width: 70%; } }
  .agenda__item .speaker__name {
    font-size: 1.4em;
    margin: 0;
    font-style: italic; }
  .agenda__item .speaker__title {
    line-height: 1.2;
    font-size: 1em; }

.event__title {
  margin-top: 0;
  text-transform: none;
  letter-spacing: normal; }

.event__desc p {
  line-height: 1.1; }

.schedule {
  margin-bottom: 4em; }
  .schedule .event__desc {
    column-count: 1;
    column-gap: 0; }
    .schedule .event__desc p {
      display: block; }
  .schedule .event {
    border-top: 1px solid #c0004e;
    overflow: hidden;
    padding: 1em 0; }
    .schedule .event .event__location,
    .schedule .event .event__time {
      font-family: europa, Helvetica, Arial, sans-serif;
      font-size: 0.9em;
      font-weight: normal; }
    @media screen and (min-width: 50em) {
      .schedule .event .event__location,
      .schedule .event .event__time {
        clear: left;
        float: left;
        margin-bottom: 0.2em;
        width: 30%; }
      .schedule .event .event__title,
      .schedule .event .event__desc {
        float: right;
        padding-left: 1em;
        width: 70%; } }

@media screen and (min-width: 50em) {
  .event__desc {
    column-count: 2;
    column-gap: 2em; } }

.event__desc em {
  font-size: 0.8em;
  line-height: 1.2;
  display: block;
  margin-top: 0.2em; }

.event__desc p {
  display: inline-block;
  margin-bottom: 0.6em; }

.schedule__date {
  font-family: "goudy-old-style", Georgia, Times, serif;
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  margin-top: 3em; }

.u-ArticleGroup .u-ArticleListItem__title {
  font-size: 1.2em !important;
  letter-spacing: 0 !important;
  text-transform: none !important;
  margin-top: 0 !important; }

.u-ArticleGroup .u-ArticleListItem {
  padding-bottom: 0; }

.u-ArticleNavGroup__navButton.u-ArticleNavGroup__navButton--more {
  color: #666; }

.u-ArticleNavGroup__navButton.u-ArticleNavGroup__navButton--archive {
  color: #aaa; }

.u-ArticleListItem .u-ArticleListItem__link,
.u-ArticleListItem .u-ArticleListItem__link:hover,
.u-ArticleNavGroup .u-ArticleNavGroup__navButton,
.u-ArticleNavGroup .u-ArticleNavGroup__navButton:hover {
  background-image: none;
  text-shadow: none; }

/*	Author section
	-------------- */
.author {
  border-top: 3px solid #eee;
  margin-top: 2em;
  padding-top: 1em; }
  .author h3 {
    font-size: 0.9em;
    font-family: europa, Helvetica, Arial, sans-serif;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    text-transform: uppercase; }
    .author h3 em {
      color: #888;
      display: block;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0;
      line-height: 1.2;
      text-transform: none; }
  .author p {
    font-family: europa;
    font-size: 0.9em;
    line-height: 1.3; }
  .author .figure {
    float: right;
    margin-left: 1.4em; }

.u-folderSenior-team .u-Figure--left {
  float: none; }

.u-folderSenior-team hr {
  display: none; }

.ac-NavAnchor--top {
  position: absolute;
  visibility: hidden; }

.u-Search__button {
  right: 4em;
  z-index: 10; }

.u-pageInner {
  padding: 0; }
  .u-pageInner body {
    padding: 1em; }

@media screen and (min-width: 45em) {
  body {
    max-width: 60em;
    margin-top: 0;
    position: static; } }

.u-lContent hr {
  clear: both; }

.u-lContent,
.u-lFooter,
.u-lHeader,
.u-lMain {
  padding: 0; }

.u-lMain {
  padding: 3%; }

.u-lAside {
  display: none; }

.u-lContent {
  width: 100%; }

.u-Search {
  right: 0; }
  @media screen and (min-width: 45em) {
    .u-Search {
      top: 1rem;
      right: 2rem;
      left: auto; } }

/*
.u-NavSite,
.u-lHeader {
	@media screen and (min-width: $medium) {
		width: 26%;
	}
}
.u-lMain {
	@media screen and (min-width: $medium) {
		width: 74%;
		padding-left: 3em;
	}
}
*/
@media (min-width: 50em) {
  .u-lMain {
    width: 78.5%; } }

.u-Masthead__siteName {
  margin-top: 0; }
  @media screen and (min-width: 45em) {
    .u-Masthead__siteName {
      margin-top: 0; } }

.u-lFooter {
  padding: 0;
  margin: 0 2rem;
  padding-top: 2em; }

.PageContent {
  padding-top: 5em; }
  @media screen and (min-width: 37.5em) {
    .PageContent {
      padding-top: 5em; } }
  @media screen and (min-width: 45em) {
    .PageContent {
      padding-top: 0; } }
  @media screen and (min-width: 62.5em) {
    .PageContent {
      margin-top: 0; } }

h3 {
  margin-bottom: 0.8em; }

article {
  padding-bottom: 1em; }

.u-ArticleNavGroup a,
article a {
  text-decoration: none !important; }

/*	This file contains a few overrides specific
	to the Inauguration layout */
.u-lFooter {
  padding-bottom: 6em; }

@media screen and (min-width: 50em) {
  .u-NavSite {
    width: 25%; }
  .u-lMain {
    width: 75%; } }

@media screen and (min-width: 50em) {
  .u-pageInner .u-lFooter {
    width: 75%;
    margin-left: 25%;
    padding: 2em; } }

.u-lContent hr {
  border-top: 1px solid #eee;
  margin: 2em auto;
  width: 30%; }

blockquote {
  border-left: 1px solid #aaa;
  margin: 2rem 0;
  padding: 0 1.4rem; }
  blockquote p {
    font-family: europa, Helvetica, Arial, sans-serif;
    font-size: 0.9em; }
    blockquote p:last-child {
      margin: 0; }

@media screen and (min-width: 45em) {
  html {
    border: 1em solid #F0EEEB;
    min-height: 100vh; } }

@media screen and (min-width: 45em) {
  body {
    font-size: 1.4em;
    font-size: calc(0.7em + 0.5 * ((100vw - 20em) / 60)); } }

@media screen and (min-width: 50em) {
  body {
    font-size: 1.4em;
    font-size: calc(0.7em + 0.5 * ((100vw - 20em) / 60)); } }

@media screen and (min-width: 62.5em) {
  body {
    font-size: 1.4em;
    font-size: calc(0.6em + 0.5 * ((100vw - 20em) / 60)); } }

@media screen and (min-width: 72em) {
  body {
    font-size: 1.4em;
    font-size: calc(0.5em + 0.5 * ((100vw - 20em) / 60)); } }

::-moz-selection {
  background: #E3C3CF; }

::selection {
  background: #E3C3CF; }

figcaption {
  color: #888;
  font-size: 0.7em;
  font-family: europa;
  margin-top: 0.4em; }

h1,
.u-pageTitle {
  font-family: "goudy-old-style", Georgia, Times, serif;
  font-weight: normal;
  font-size: 3em;
  color: #882345;
  position: relative; }
  @media screen and (min-width: 50em) {
    h1,
    .u-pageTitle {
      font-size: 3em; } }

h4 {
  text-transform: uppercase;
  letter-spacing: 0.08em; }

.u-pageTitle {
  margin-top: -0.2em;
  line-height: 0.9; }

.u-VCard__item.u-VCard__org {
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.u-VCard__label {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

/*
.u-lFooter {
	padding-top: 10em;
	@include ext-border(1px solid #c2004c, 8rem, 8em, above, center);
}
*/
.title--speaker,
.title--compound {
  margin-top: 0;
  font-size: 3em; }
  .title--speaker .supertitle,
  .title--compound .supertitle {
    font-family: "chaparral-pro", Georgia, Times, serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    font-size: 0.3em;
    font-weight: 100;
    color: #aaa;
    margin-bottom: 1em; }
    .title--speaker .supertitle a,
    .title--compound .supertitle a {
      border: none;
      color: #000;
      background-image: none;
      text-shadow: none; }
  .title--speaker .subtitle,
  .title--compound .subtitle {
    color: #666;
    display: block;
    font-size: 0.4em;
    font-style: italic;
    line-height: 1.1;
    margin-top: 0.2em; }

.byline {
  font-size: 0.9em;
  color: #666; }

.u-pageInner .u-Search__button svg {
  fill: #e0dbd2; }

.u-lMain a {
  text-decoration: underline;
  text-decoration-color: #ccc; }

@media screen and (min-width: 62.5em) {
  .u-lMain a {
    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
    text-decoration: none;
    background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#ce1e46, #ce1e46);
    background-size: .05em 1px, .05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 84%, 100% 84%, 0% 84%; }
    .u-lMain a else {
      background-position: 0% tight, 100% tight, 0% tight; }
    .u-lMain a:before, .u-lMain a:after, .u-lMain a *, .u-lMain a *:before, .u-lMain a *:after {
      text-shadow: none; }
    .u-lMain a::-moz-selection {
      background-image: none;
      text-shadow: none;
      background: #E3C3CF; }
    .u-lMain a::selection {
      background-image: none;
      text-shadow: none;
      background: #E3C3CF; }
  .u-lMain a:visited {
    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
    text-decoration: none;
    background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#AB6776, #AB6776);
    background-size: .05em 1px, .05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 84%, 100% 84%, 0% 84%; }
    .u-lMain a:visited else {
      background-position: 0% tight, 100% tight, 0% tight; }
    .u-lMain a:visited:before, .u-lMain a:visited:after, .u-lMain a:visited *, .u-lMain a:visited *:before, .u-lMain a:visited *:after {
      text-shadow: none; }
    .u-lMain a:visited::-moz-selection {
      background-image: none;
      text-shadow: none;
      background: #E3C3CF; }
    .u-lMain a:visited::selection {
      background-image: none;
      text-shadow: none;
      background: #E3C3CF; }
  .u-lMain a:hover, .u-lMain a:visited:hover {
    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
    text-decoration: none;
    background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#666, #666);
    background-size: .05em 1px, .05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 84%, 100% 84%, 0% 84%; }
    .u-lMain a:hover else, .u-lMain a:visited:hover else {
      background-position: 0% tight, 100% tight, 0% tight; }
    .u-lMain a:hover:before, .u-lMain a:hover:after, .u-lMain a:hover *, .u-lMain a:hover *:before, .u-lMain a:hover *:after, .u-lMain a:visited:hover:before, .u-lMain a:visited:hover:after, .u-lMain a:visited:hover *, .u-lMain a:visited:hover *:before, .u-lMain a:visited:hover *:after {
      text-shadow: none; }
    .u-lMain a:hover::-moz-selection, .u-lMain a:visited:hover::-moz-selection {
      background-image: none;
      text-shadow: none;
      background: #E3C3CF; }
    .u-lMain a:hover::selection, .u-lMain a:visited:hover::selection {
      background-image: none;
      text-shadow: none;
      background: #E3C3CF; } }

.Module__label,
.Module__poBox {
  display: inline-block; }

.Module__label {
  margin-right: 0.4em; }

.u-lContent {
  font-family: "chaparral-pro", Georgia, Times, serif; }
  .u-lContent li {
    font-family: "chaparral-pro", Georgia, Times, serif;
    font-weight: 100;
    margin-bottom: 0.3em; }
  .u-lContent ul.list-none {
    margin: 0;
    padding: 0; }
    .u-lContent ul.list-none li {
      margin-left: 0;
      list-style: none;
      padding-left: 1.5em;
      text-indent: -1.5em; }

.u-NavSite__item.u-NavSite__item--isCurrent {
  color: #61243C;
  font-weight: bold; }

.trustees__list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em; }

.u-lFooter {
  border-top: 2px solid #F0EEEB; }

.u-Masthead__siteName--link:link, .u-Masthead__siteName--link:visited {
  color: #BFB9B0; }

.u-VCard__org:link, .u-VCard__org:visited {
  color: #777; }

.u-NavSite__itemContainer .u-NavSite__item {
  border-color: #777;
  border-color: #F0EEEB;
  /*		@media screen and (min-width: $small) {
			border-color: #F0EEEB;
		} */ }

.u-NavSite__itemContainer:last-child .u-NavSite__item {
  border-color: transparent; }

.jqui-tabs__tabItem.ui-tabs-anchor {
  text-shadow: none;
  background: none; }

.Module__link {
  border: none;
  background: none !important; }

/*
	"Immunity to obsolescence is the
	only obsolescent-immune conceit
	of the past millennium."
	- Matt Mullenweg
*/
/*	IE9
	=== */
:root {
  font-size: 1.2em \0/IE9; }

:root {
  font-size: 1.2em \0/IE9 !important; }

/*	Safari? Really? */
.g-.is-alert .imageHeader__image {
  position: relative; }
