.u-pageHome {
//	background: #000;
	padding: 0;

	body {
		max-width: none;
		margin-top: 0;
	}
	img {
		width: 100%;
	}
	
	
	.u-lAside {
		display: none;
	}
	.u-lContent {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.u-lMain {
		padding: 3rem 0 0 0;
		width: 100%;

		@media screen and (min-width: $small) {
			padding: 0;
		}
	}
	.u-lHeader {
		@media screen and (min-width: $medium) {
			position: absolute;
			z-index: 12;

			.u-Masthead__vassar {
				top: 2rem;
			}
		}
	}
	.u-lFooter {
		margin: 0;
		padding: 3em;
	}
	
	.row.main {
		.col {
			padding: 0;
		}
	}

	@media screen and (min-width: $small) {
		.u-Search {
		    top: 1.2em;
		    right: 2em;
		    left: auto;
		    z-index: 14;
		}
		.u-NavSite {
			position: absolute;
			padding: 2em;
			right: 3em;
			text-align: right;
			top: 0;
			width: initial;
			z-index: 12;
	
			.u-NavSite__itemContainer {
				display: inline-block;
				margin-left: 1em;
			}
			.u-NavSite__item {
				color: #fff;
				font: normal 1.1em/1.1 europa, Helvetica;
				border: none;
				text-align: right;
			}
		}
	}
}