summary {
	color: $BASICSTYLE__link-color;
	font-weight: bold;
	
	&:hover {
		color: $BASICSTYLE__link-color--hover;
		cursor: pointer;
	}
	
	details[open] & {
		margin-bottom: 1em;
	} 
}
details[open] {
	margin-bottom: 1em;
}