.agenda__item {
    border-top: 1px solid #eee;
	overflow: hidden;
    padding: 1em 0;
    
    p {
	    margin: 0;
    }

	.item__title {
		margin-top: 0.3em;
		font-size: 0.9em;
		line-height: 1.1;

		@media screen and (min-width: $medium) {
			float: left;
			padding-right: 2em;
			width: 30%;
		}
		
		.item__time {
			display: block;
			font-family: $sans-serif;
			font-size: 0.8em;
			margin-top: 0.2em;
			color: #888;
		}
	}
	.item__content {
		@media screen and (min-width: $medium) {
			float: right;
			width: 70%;
		}
	}
	.speaker__name {
		font-size: 1.4em;
		margin: 0;
		font-style: italic;
	}
	.speaker__title {
		line-height: 1.2;
		font-size: 1em;
	}
}