.row, .col {
	overflow: hidden;
}
.row {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;

	h2 {
		flex: 0 0 100%;
	}
}
@media screen and (min-width: $small) {
	.col.small-50 {
		width: 50%;
	}
	.col.small-16 {
		width: 16.666%;
	}
	.col.small-25 {
		width: 25%;
	}
}
@media screen and (min-width: $medium) {
	.col.med-50 {
		width: 50%;
	}
	.col.med-16 {
		width: 16.666%;
	}
	.col.med-25 {
		width: 25%;
	}
	.col--twocols-med {
		max-width: 60em;
		margin-left: auto;
		margin-right: auto;
		@include cols(2, 2em, 1px solid #eee);
	}
}

.col {
	padding: 2em;
		
	@media screen and (min-width: $medium) {
		padding: 4em;
	}
}
.col--single {
	max-width: 46em;
	margin-left: auto;
	margin-right: auto;
}
.u-pageHome .row .rowheader {
	margin-bottom: -2em;
	margin-top: 3em;	
}

.imagefull {
	background-size: cover;
	background-position: center center;
	
	img {
		position: absolute;
		visibility: hidden;
	}
}
.hasborder {
	position: relative;
	
	&:before {
		position: absolute;
		content: "";
		top: 0.4em;
		left: 0.4em;
		bottom: 0.4em;
		right: 0.4em;
		
		@media screen and (min-width: $medium) {
			top: 1em;
			left: 1em;
			bottom: 1em;
			right: 1em;
		}
		border: 1px solid #eee;
	}
	
	* {
		position: relative;
		z-index: 9;
	}
}

